.video {
  float: left;
}

.notes {
  float: right;
  /* width: 250px; */
  word-wrap: break-word;
}

.note_frame {
  float: right;
  border:1px solid #000000;
  height: 40px;
  width: 250px;
  /* overflow-y: scroll; */
}

.entire-thing {
  width: 650px;
}
