.video {
  float: left;
}

.notes {
  width: 150px;
  word-wrap: break-word;
}

.note_frame {
  border:1px solid #000000;
  height: 40px;
  width: 150px;
  overflow-y: scroll;
}

.entire-thing {
  width: 600px;
}
